<legend><h2>Edit <%= resource_name.to_s.humanize %></h2></legend>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" name="user[email]" class="form-control" id="inputEmail" placeholder="Email" autofocus="true">
  </div>

  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" name="user[password]" class="form-control" id="inputPassword">
    <p class="help-block">(Leave blank if you don't want to change it)</p>
  </div>

  <div class="form-group">
    <label for="inputPasswordConfirmation">Password confirmation</label>
    <input type="password" name="user[password_confirmation]" class="form-control" id="inputPasswordConfirmation">
  </div>

  <div class="form-group">
    <label for="inputFirstName">First name</label>
    <input type="text" name="user[first_name]" class="form-control" id="inputFirstName">
  </div>

  <div class="form-group">
    <label for="inputLastName">Last name</label>
    <input type="text" name="user[last_name]" class="form-control" id="inputLastName">
  </div>
  
  <div class="form-group">
    <label for="inputCompany">Company</label>
    <input type="text" name="user[company]" class="form-control" id="inputCompany">
  </div>
 
  <div class="form-group">
    <label for="inputPhone">Phone</label>
    <input type="text" name="user[phone]" class="form-control" id="inputPhone">
  </div>

  <div class="form-group">
    <label for="inputFax">Fax</label>
    <input type="text" name="user[fax]" class="form-control" id="inputFax">
  </div>
 
  <div class="form-group">
    <label for="inputAddress1">Address 1</label>
    <input type="text" name="user[address1]" class="form-control" id="inputAddress1">
  </div>

  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" name="user[address2]" class="form-control" id="inputAddress2">
  </div>

  <div class="form-group">
    <label for="inputCity">City</label>
    <input type="text" name="user[city]" class="form-control" id="inputCity">
  </div>
  
  <div class="form-group">
    <label for="inputState">State</label>
    <input type="text" name="user[state]" class="form-control" id="inputState">
  </div>
 
  <div class="form-group">
    <label for="inputZipcode">Zip code</label>
    <input type="text" name="user[zipcode]" class="form-control" id="inputZipcode">
  </div>

  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <label for="inputCurrentPassword">Current password</label>
    <input type="password" name="user[current_password]" class="form-control" id="inputCurrentPassword">
     <p class="help-block">(We need your current password if you want to change your email or password)</p>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
