<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>
    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
            <ul class="nav bs-docs-sidenav">
              <li><a href="#new_typography"> New Typography</a></li>
              <li><a href="#new_code"> New Code</a></li>
              <li><a href="#new_tables"> New Tables</a></li>
              <li><a href="#new_forms"> New Forms</a></li>
              <li><a href="#new_navs"> New Navs</a></li>
              <li><a href="#new_navbar"> New Navbar</a></li>
              <li><a href="#new_breadcrumbs"> New Breadcrumbs</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-9" role="main">
          <%= render 'new_typography' %>
          <%= render 'new_code' %>
          <%= render 'new_tables' %>
          <%= render 'new_forms' %>
          <%= render 'new_navs' %>
          <%= render 'new_navbar' %>
          <%= render 'new_breadcrumbs' %>
        </div>
      </div>
    </div>
  </body
</html>

