<!-- TODO: add something for flash messages? -->
<!DOCTYPE html>
<html>
  <head>
    <title>Stocksales</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'search_results', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/main_nav' %>

    <div id="body" class="row-fluid">
      <% if controller.action_name == 'index' && controller.controller_name == 'search_results' %>
        <div id="search_page">
          <div class="row" id="content">
            <div class="col-md-2" id="sidebar">
              <%= sidebar.join('').html_safe %>
            </div>
            <div class="col-md-10" id="search_results">
              <%= yield %>
            </div>
          </div>
        </div>
      <% else %>
        <div id="bd_prod">
          <div id="main">
            <div id="main_container">
              <%= render partial: 'layouts/flash_msg' %>
              <%= content_for?(:content) ? yield(:content) : yield %>
            </div>
          </div>
        
          <div id="sidebar">
            <%= sidebar.join('').html_safe %>
          </div>

          <div class="clear-both"/>
        </div>
      <% end %>
    </div>
  </body>
</html>
