<!DOCTYPE html>
<html>
  <head>
    <title>Stocksales</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/main_nav' %>

    <%= render partial: 'hero_image' %>

    <div id="main">
      <div id="main-container">
        <div class="row">
          <div class="col-md-5">
            <%= render partial: 'sidekick_images' %>
          </div>
          <div class="col-md-7">
            <%= render partial: 'layouts/flash_msg' %>
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
