<!DOCTYPE html>
<html>
  <head>
    <title>Stocksales</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'partials/_search_form' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: 'layouts/main_nav' %>

    <div id="main">
      <div id="main-container">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
