<!DOCTYPE html>
<html>
  <head>
    <title>Stocksales</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/main_nav' %>


    <% if content_for?(:hero) %>
      <%= yield(:hero) %>
    <% end %>

    <div id="bd_prod">
      <div id="main">
        <div id="main_container">
          <%= render partial: 'layouts/flash_msg' %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>

      <div id="sidebar">
        <%= sidebar.join('').html_safe %>
      </div>

      <div class="clear-both"/>
    </div>
  </body>
</html>
